<!DOCTYPE html>

<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="../static/styles.css" rel="stylesheet">
    
</head>

<body>
    <h1 id="title">jingle</h1>


    <table id="main">
    </table>

    <template id="rowTemplate">
        <tr>
        </tr>
    </template>

    <template id="cellTemplate">
        <td class="cell">
            <div class="cellContent">

            </div>
        </td>
    </template>


    <script src="../static/client.js"></script>
</body>

</html>